@{
    ViewBag.Title = "GuideLine";

    int prize = 1;
    int choose = 1;
    int[] prizeArray = new int[3] {1, 2, 3};
}

<h2>Description</h2>
<p>The correct answer is that you do want to switch. If you do not switch, you have the expected 1/3 chance of winning the car, since no matter whether you initially picked the correct door, Monty will show you a door with a goat. But after Monty has eliminated one of the doors for you, you obviously do not improve your chances of winning to better than 1/3 by sticking with your original choice. If you now switch doors, however, there is a 2/3 chance you will win the car. As you can see in the table below </p>

<table class="table table-bordered table-striped">
    <thead class="align-content-center text-center">
    <tr>
        <th scope="col">choose</th>
        <th scope="col">prize</th>
        <th scope="col">open</th>
        <th scope="col">stay</th>
        <th scope="col">swich</th>
    </tr>
    </thead>
    <tbody class="text-center">
    @for (int i = 0; i < 9; i++)
    {
        <tr>

            <td>

                @if (choose == 4)
                {
                    choose = 1;
                    prize++;
                }
                @(choose++)
            </td>
            <td>
                @(prize)
            </td>
            <td>
                <p>
                    @foreach (var item in prizeArray.Where(x => x != (choose - 1)))
                    {
                        @($"{item} / ") 
                    }
                </p>

            </td>
            <td>
                @if (choose - 1 == prize)
                {
                    <i class="bi bi-check-circle-fill"></i>
                }
                else
                {
                    <i class="bi bi-x-circle"></i>
                }
            </td>
            <td>
                @if (choose - 1 != prize)
                {
                    <i class="bi bi-check-circle-fill"></i>
                }
                else
                {
                    <i class="bi bi-x-circle"></i>
                }
            </td>
        </tr>
    }

    </tbody>
</table>
<hr/>
<h3>Result</h3>
<p>if you stick to your choice</p>
posibility of win: <label class="alert alert-success">3/9 </label>
<p>if you switch your choice</p>
posibility of win :<label class="alert alert-success">6/9 </label>